numpy
backoff
pandas
openai
anthropic
fastapi
zhipuai
groq
boto3
uvicorn
paddleocr
paddlepaddle
together
scikit-learn
websockets
tiktoken
pyautogui
toml
exa_py # If you encounter an error, you need to install exa_py manually through https://pypi.org/project/exa-py/#files
black
pytesseract
google-genai

# Platform-specific dependencies
pyobjc; platform_system == "Darwin"
pywinauto; platform_system == "Windows"
pywin32; platform_system == "Windows" 